.container{
    margin-top:30px;
    width: 45%;
    padding: 15px 25px 15px 25px;
    margin-left: 325px;
    background-color: rgb(233, 229, 229);
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(223, 17, 137);
    justify-content: space-between;
}

.box {
    width: 285px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(223, 17, 137);
}

.imagebox{
    width: 250px;
    height: 220px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid black;
}

img{
    width: 250px;
    height: 220px;
}

span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

button{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 90px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: rgb(119, 140, 231);
    padding: 5px 5px 5px 5px;
    font-size: 22px;
    cursor: pointer;
}